* {   
    margin: 0px;
}

button {
    font-family: Verdana;
    background: #b6b6b6;
    color: #fff;
    width: 17.3%;
    height: 50px;
    margin: 10px 6px;
    font-size: 2.2em;
    border: none;
    cursor: pointer;
    border-radius: 10px 10px 18px 18px;
    outline: none;
}


.calc-container {
   width: 463px;
   margin: auto;
    margin-top: 100px;
   padding: 21px;
   border-radius: 10px;
   background: #f2ba59;
}

.screen {
   font-family: 'Orbitron';
   text-align: right;
   padding: 10px;
   font-size: 45px;
   margin: 5px 8px 10px 8px;
   background: #bac4c6;
}

.log {
    font-family: 'Orbitron';
    background-color: #bac4c6;
    height: 44px;
    text-align: left;
    outline: none;
    width: 100%;
    border: none;
    font-size: 1em;
}

.orange-button {
  background: #995b7a;
}

.sm-button {
    color: #fff;
    background: #5e85bc;
    width: 61.1px;
    margin: 14px 8px;
    border-radius: 11px;
    font-size: 1.3em;
    height: 41px;
}

.description {
    font-size: 1.5em;
    font-family: 'Orbitron';
    margin: 8px;
    margin-bottom: 12px;
    color: #fff;
}

